* {
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}

#game {
	background: #000;
	z-index: 1;
	position:absolute;
    left:0px;
    top:0px;
}

#debug-canvas {
	z-index: 2;
	position:absolute;
    left:0px;
    top:0px;
}